/* tailwind css  */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  height: 100%;
  background-color: F5F5F5;
}

.container{
  margin-left: auto;
  margin-right: auto;
  padding-right: .75rem;
  padding-left: .75rem;
}